<toast></toast>
<div id="counter">
  <h4><span class="label label-success">
    Counters
    <span class="label label-success">{{duplicates}}</span>
    <span class="label label-warning">{{nonDuplicates}}</span>
  </span></h4>
</div>
<div class="jumbotron">

  <p class="lead">
    <img src="images/NCR.jpg" alt="NCR" class="rcorners"><br>
    Please enter your values
  </p>
  <div class="col-xs-12 col-sm-10 col-md-10" style="padding-left: 75px;">
    <form role="form">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="form-group">
            <input type="text" name="duplicate" ng-model="duplicate" class="form-control
            input cplaceholder" placeholder="e.g: 57,8,77,6,128,28" tabindex="1">
          </div>
        </div>
      </div>
    </form>
  </div>
  <p><a ng-click="sendDuplicate()" class="btn btn-lg btn-success" ng-href="#/">Submit
    <span class="glyphicon glyphicon-ok"></span>
  </a></p>
</div>
